.navigation {
  position: sticky;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #2C3E50;
  border-right: 1px solid #1a2832;
}

.logo {
  min-height: 120px;
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
}

.sidebar-wraper {
  background: #2C3E50;
  display: block;
}

.mobile-sidebar-wraper {
  display: none;
}

.mobile-sidebar-wraper .ant-drawer-body {
  padding: 12px 0px !important;
}

/* .ant-btn.mobile-sidebar-btn {
  display: none;
} */

.tabsNavigation span {
  background-color: transparent;
}

.tabsNavigation:hover span {
  box-shadow: 0px 0px 30px 8px rgba(0, 115, 255, 0.15);
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .sidebar-wraper {
    display: none;
  }

  .navigation {
    height: 100%;
  }

  /* .ant-btn.mobile-sidebar-btn {
    display: block;
    position: absolute;
    top: 21px;
  } */

  .mobile-sidebar-wraper {
    display: block;
  }
}
